html,
body {
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5vh;
  min-height: 8vh;
  width: 100%;
  color: black;
  background-color: #282c34;
  background-size: cover;
  flex-direction: column;
}

h1 {
  font-size: 400%;
  align-items: center;
}

.lesson-header {
  padding-top: 5vh;
  justify-content: space-around;
  display: flex;
}

.lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 5vh;
}

.lesson-box {
  display: flex;
  justify-content: center;
  border-right: 1px solid black;
  border-left: 6px solid #282c34;
  border-top: 1px solid black;
  background-color: white;
  width: 70%;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.lesson-box:first-child {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 6px solid #282c34;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 70%;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.lesson-box:last-child {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-left: 6px solid #282c34;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 70%;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.lesson-number {
  padding-right: 6vh;
  padding-left: 3vh;
  display: flex;
  align-items: center;
}

.lesson-number h2 {
  font-size: 200%;
  color: #282c34;
}

.lesson-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 6vh;
  padding-right: 2vh;
}

.lesson-description h2,
h3 {
  margin-top: 1vh;
  margin-bottom: 0;
}

.lesson-description h2 {
  color: #2185d0;
}
